/*                                                *\
 *  Glorious Master CSS by honorable DrummerHead  *
\*                                                */




/*  - - - - - - - - - - - - - - - - - - - - -
\*  Baseline  */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #272525;
  background-color: #f2f1f1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
a {
  color: #467c89;
}
a:focus {
  outline: dotted;
}
a:hover {
  outline: 0;
  color: #63a1b0;
}
a:active {
  outline: 0;
  color: #2f535c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h2 {
  border-bottom: 1px solid #b1abab;
}
ul {
  margin: 0 0 .5em 0;
  padding: 0 0 0 .86em;
}
ul > li {
  margin: 0 0 .1em;
}
small {
  display: block;
  margin: .4em 0;
  font-size: .8em;
}


/*  /Baseline  */




/*  - - - - - - - - - - - - - - - - - - - - -
\*  Modular Constructs  */

.vessel {
  max-width: 65em;
  padding: 0 1em;
  margin: 0 auto;
}
h2 a {
  color: inherit;
  text-decoration: none;
  display: block;
}
h2 a:hover {
  color: #6e6666;
}
h2 a:hover:after {
  content: " #";
}
h2:first-child {
  margin-top: 0;
}
section {
  padding: .1em 0 1em;
}
section:after {
  content: '\2026';
  display: block;
  height: .6em;
  font-size: 4em;
  line-height: .05em;
  overflow: hidden;
  font-family: Georgia, serif;
  color: #d2cece;
  text-align: center;
}
section aside {
  overflow: hidden;
  position: relative;
  padding: 0 0 1em 0;
  -webkit-transition: max-height ease-in 777ms;
     -moz-transition: max-height ease-in 777ms;
       -o-transition: max-height ease-in 777ms;
          transition: max-height ease-in 777ms;
}
section aside:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 3em;
  background: -webkit-linear-gradient(top, rgba(242,241,241,0) 0%, rgba(242,241,241,1) 100%);
  background:    -moz-linear-gradient(top, rgba(242,241,241,0) 0%, rgba(242,241,241,1) 100%);
  background:     -ms-linear-gradient(top, rgba(242,241,241,0) 0%, rgba(242,241,241,1) 100%);
  background:      -o-linear-gradient(top, rgba(242,241,241,0) 0%, rgba(242,241,241,1) 100%);
  background:         linear-gradient(to bottom, rgba(242,241,241,0) 0%, rgba(242,241,241,1) 100%);


}
.collapsed {
  max-height: 2.6em;
}
.opened {
  max-height: 50em;
}
.expander {
  display: block;
  padding: .5em 0;
  margin: .25em 0;
  text-align: center;
}
.expander:hover {
  background-color: #eaf2f4;
  color: #3b6873;
}






.print {
  display: none;
}
/*  /Modular Constructs  */




/*  - - - - - - - - - - - - - - - - - - - - -
\*  Promiscuous structures  */

[role='banner'],
[role='contentinfo'] {
  background-color: #161414;
  color: #f2f1f1;
  padding: .4em 0;
}
[role='banner'] h1 {
  margin: .25em 0;
  line-height: 1;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
[role='banner'] h2 {
  margin: .4em 0;
  line-height: 1.2;
  border: none;
}
[role='banner'] aside {
  margin: .4em 0;
}
[role='banner'] a {
  color: #f2f1f1;
  margin: .25em 0;
  line-height: 1.25;
}
[role='main'] {
  padding: 1em 0;
}

/*  /Promiscuous structures  */




/*  - - - - - - - - - - - - - - - - - - - - -
\*  Landing specific  */


/*  /Landing specific  */




/*  - - - - - - - - - - - - - - - - - - - - -
\*  Media Queries  */

/*  /Media Queries  */




/*  - - - - - - - - - - - - - - - - - - - - -
\*  Print  */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow:none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  .print {
  }
}
/*  /Print  */
