
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #272525;
  background-color: #f2f1f1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
a,
strong,
em {
  -webkit-transition: 250ms ease-in-out all;
     -moz-transition: 250ms ease-in-out all;
      -ms-transition: 250ms ease-in-out all;
       -o-transition: 250ms ease-in-out all;
          transition: 250ms ease-in-out all;
}
a {
  color: #467c89;
}
a:focus {
  outline: dotted;
}
a:hover {
  outline: 0;
  color: #63a1b0;
}
a:active {
  outline: 0;
  color: #2f535c;
}
h1,
h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h2 {
  font-size: 1.8em;
  border-bottom: 1px solid #b1abab;
}
h3 {
  margin: 1.5em 0 .5em;
  font-size: 1.4em;
  font-weight: normal;
}
em {
  color: #6e6666;
}
ul,
ol {
  margin: 0 0 .5em 0;
  padding: 0 0 0 .86em;
}
ul > li,
ol > li {
  margin: 0 0 .1em;
}
dl {
  margin: 0 0 1.5em 0;
  border-left: .5em solid #d2cece;
  padding: 0 0 0 .5em;
}
dt {
  display: block;
  font-size: .8em;
  line-height: 1;
  color: #4b4646;
}
dd {
  display: block;
  margin: 0 0 .5em 0;
}
