html {
  font-size: 100%;
  @extend %td;
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  color: $grey-13;
  background-color: $grey-1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

a,
strong,
em {
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-property: color, border;
}

a {
  color: $cyan-9;

  &:focus {
    outline: dotted;
  }

  &:hover {
    outline: 0;
    color: $cyan-7;
  }

  &:active {
    outline: 0;
    color: $cyan-11;
  }
}

h2 {
  $font-color: $grey-11;
  font-weight: 700;
  color: $font-color;
  border-bottom: .03em solid $font-color;
  margin: 0 0 .55em;
  padding: 0;
  line-height: 1;
  font-size: 2.4em;
  @extend %td-extracondensed;
}

h3 {
  margin: 1.5em 0 .5em;
  font-size: 1.4em;
  font-weight: normal;
}

em {
  color: $grey-9;
}

ul,
ol {
  margin: 0 0 .5em;
  padding: 0 0 0 .86em;
}

ul > li,
ol > li {
  margin: 0 0 .1em;
}

dl {
  margin: 0 0 1.5em;
  border-left: .5em solid $grey-3;
  padding: 0 0 0 .5em;
}

dt {
  display: block;
  font-size: .8em;
  line-height: 1;
  color: $grey-11;
}

dd {
  display: block;
  margin: 0 0 .5em;
}


@media #{$bravo} {
  body {
    font-size: 1.2em;
  }
}

