@media print {
  @page {
    margin: 1.2cm;
  }
  * {
    background: transparent !important;
    color: $absolute-black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    font-family: sans-serif;
    font-size: 9pt;
    line-height: 1.3;
  }
  a,
  a:visited {
    text-decoration: none !important;
    border: none !important;
  }
  a[href^="http"]:after {
    content: " \2014   " attr(href);
    font-size: 90%;
  }
  .vessel {
    padding: 0 .2em;
  }
  section {
    padding-bottom: 2.4em;
  }
  section aside:after {
    background: transparent;
  }
  .two-columns-print {
    column-count: 2;
    column-gap: 2.75em;
  }
  .two-columns-print > * {
    display: table;
    -webkit-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
            column-break-inside: avoid;
  }
  #dh-logo {
    width: 2cm;
    position: absolute;
    right: .2em;
    top: .7em;
  }
  #talks a:after,
  [role='contentinfo'] a:after {
    content: '';
  }
  /*
  dl,
  .showcase li {
    page-break-inside: avoid;
  }
  */
  dl {
    margin-bottom: .75em;
  }
  [role="contentinfo"] {
    font-size: .8em;
    padding: 0;
  }
  .screen {
    display: none !important;
  }
  .print {
    display: block;
  }
}
