@media print {
  @page {
    margin: 1cm;
  }

  * {
    text-shadow: none !important;
    color: $absolute-black !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  body {
    font-size: 8.6pt;
    line-height: 1.3;
  }

  a {
    &:visited {
      border: none !important;
      text-decoration: none !important;
    }
  }

  [href^='http'] {
    &::after {
      font-size: 90%;
      content: ' \2014   ' attr(href);
    }
  }

  [role='main'] {
    padding-bottom: 0;
  }

  .vessel {
    padding: 0 .2em;
  }

  section {
    padding-bottom: 3em;
    break-inside: avoid;
  }

  section aside {
    margin-top: .75em;

    &::after {
      background: transparent;
    }
  }

  .two-columns-print,
  .three-columns-print {
    column-gap: 2.75em;
  }

  .two-columns-print > *,
  .three-columns-print > * {
    display: table;
    break-inside: avoid;
  }

  .two-columns-print {
    column-count: 2;
  }

  .three-columns-print {
    column-count: 3;
  }

  .dh-logo {
    position: absolute;
    top: .7em;
    right: .2em;
    width: 2cm;
  }

  #talks a,
  [role='contentinfo'] a,
  [role='banner'] a {
    &::after {
      content: '';
    }
  }

  [role='banner'] a {
    display: block;
    margin-bottom: .4em;
    text-decoration: none;
  }

  dl {
    margin-bottom: .75em;
  }

  [role='contentinfo'] {
    padding: 0;
    font-size: .9em;
  }

  .link-hub {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 2em;
  }

  .link-hub li {
    flex: 1 1 auto;
  }

  .showcase strong {
    font-size: 1.2em;
    margin-bottom: .2em;
  }

  .showcase small {
    display: inline;

    &::before {
      margin: 0 .4em 0 .2em;
      content: '\b7';
    }
  }


  .screen {
    display: none !important;
  }

  .print {
    display: block;
  }
}
