/* Colors */
/* ====== */

// Warm Greyscale

$grey-0: #fff;
$grey-1: #f2f1f1;
$grey-2: #e2e0e0;
$grey-3: #d2cece;
$grey-4: #c1bdbd;
$grey-5: #b1abab;
$grey-6: #a09a9a;
$grey-7: #908888;
$grey-8: #7f7777;
$grey-9: #6e6666;
$grey-10: #5c5656;
$grey-11: #4b4646;
$grey-12: #393535;
$grey-13: #272525;
$grey-14: #161414;
$grey-15: #040404;


// Warm Cyanscale

$cyan-0: #fff;
$cyan-1: #eaf2f4;
$cyan-2: #d4e5e9;
$cyan-3: #bdd7dd;
$cyan-4: #a7cad2;
$cyan-5: #90bcc6;
$cyan-6: #7aaebb;
$cyan-7: #63a1b0;
$cyan-8: #51909f;
$cyan-9: #467c89; // mutation from 908888
$cyan-10: #3b6873;
$cyan-11: #2f535c;
$cyan-12: #243f46;
$cyan-13: #182b2f;
$cyan-14: #0d1619;
$cyan-15: #010202;


// Special colors

$notice: #f7ea97;


// Absolute colors

$absolute-black: #000;


/* Media Breakpoints */
/* ================= */

$alpha: "(min-width: 600px)";
$bravo: "(min-width: 870px)";
$charlie: "(min-width: 1160px)";
$delta: "(min-width: 1470px)";

