## OSX.gitignore
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

## vim.gitignore
.*.sw[a-z]
*.un~
Session.vim

## Yeoman
node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components

## custom
/pdf-test
