[role='banner'],
[role='contentinfo'] {
  padding: .4em 0 .6em;
  color: $grey-1;
  background-color: $grey-14;
}

[role='banner'] a {
  color: $grey-1;
}

.title {
  padding: .1em 0;
  font-size: 4.6900vw;
  white-space: nowrap;
  text-align: center;
}

.title h1 {
  margin: .45em 0 0;
  font-size: 2.1884em;
  line-height: 1;
  font-weight: 700;
  @extend %td-expanded;
}

.title h2 {
  margin: .12em 0 0;
  font-size: 2.0937em;
  border: none;
  font-weight: 400;
  line-height: 1;
  color: $grey-1;
  @extend %td;
}

.title aside {
  margin: .12em 0 .7em;
  font-size: 1em;
  font-weight: 400;
  @extend %td-expanded;
  line-height: 1;
}
