@media (min-width: 600px){
  .vessel {
    padding: 0 6% 0 5%;
  }
  .expander {
    display: none;
  }
  section aside:after {
    background: transparent;
  }
  section aside {
    margin-top: 1.75em;
  }
  .collapsed {
    max-height: 50em;
  }
  .two-columns:before,
  .two-columns:after {
    content: '';
    display: table;
  }
  .two-columns:after {
    clear: both;
  }
  ul.two-columns > li {
    float: left;
    clear: left;
    width: 50%;
  }
  ul.two-columns > li.right-aligned-ahead,
  ul.two-columns > li.right-aligned-ahead + li ,
  ul.two-columns > li.right-aligned-ahead + li + li,
  ul.two-columns > li.right-aligned-ahead + li + li + li {
    float: none;
  }
  #download-pdf {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 870px){
  body {
    font-size: 1.2em;
  }
  #copyright {
    position: absolute;
    right: 6%;
    bottom: 0;
    margin: 0;
  }
  #download-pdf {
    right: 4%;
    top: -1.4em;
    padding: 1.6em 0 1em 4.5em;
    font-size: 1.2em;
    line-height: 1.2;
    background-position: .5em .5em;
    background-size: 77px auto;
    transform: rotate(0) scale(.6);
  }
  #download-pdf:hover {
    top: .2em;
    transform: rotate(0) scale(1);
  }
}

@media (min-width: 1160px){
  .vessel {
    padding: 0 10%;
  }
}

@media (min-width: 1470px){
  .vessel {
    padding: 0 4%;
  }
  [role='main'] {
    background-image: url(/images/pixel-halftone.png);
  }
  section {
    float: left;
    width: 48%;
  }
  section:nth-child(2n+1) {
    clear: left;
    margin-right: 4%;
  }
  aside p:first-child {
    margin-top: 0;
  }
}
