.collapsed {
  max-height: 2.6em;
  -webkit-transition: 1s ease-in-out max-height;
     -moz-transition: 1s ease-in-out max-height;
      -ms-transition: 1s ease-in-out max-height;
       -o-transition: 1s ease-in-out max-height;
          transition: 1s ease-in-out max-height;
}
.opened {
  max-height: 50em;
}
.expander {
  display: block;
  padding: .5em 0;
  margin: .25em 0;
  text-align: center;
}
.expander:hover {
  background-color: #eaf2f4;
  color: #3b6873;
}
