.download-pdf {
  @extend %td-condensed;
  display: flex;
  position: absolute;
  right: 3.5vw;
  bottom: .3rem;
  flex-flow: row nowrap;
  align-items: flex-end;
  width: 2.7em + 4.2em;
  margin: 0;
  padding: .5em .4em;
  font-size: 1em;
  line-height: 1;
  transition-duration: 250ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-in;
  font-weight: 700;
  text-decoration: none;
  color: $grey-2;
  opacity: 0;
  visibility: hidden;
}

.download-pdf svg {
  flex: 0 0 2.7em;
  fill: $grey-2;
}

.download-pdf span {
  flex: 0 1 4.2em;
  transform: translateY(.27em);
}

@media #{$alpha} {
  .download-pdf {
    opacity: 1;
    visibility: visible;
  }
}
