.link-hub {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.link-hub li {
  margin: .25em 0;
}
.link-hub a {
  color: $grey-7;
  text-decoration: none;
  border-bottom: 1px dotted $grey-14;
}
.link-hub a:hover {
  color: $cyan-4;
  border-color: $cyan-4;
}
.link-hub strong {
  font-weight: normal;
}
.link-hub a:hover strong {
}
.link-hub em {
  color: $grey-1;
  font-style: normal;
}
.link-hub a:hover em {
  color: $cyan-4;
}

@media #{$bravo} {
  .link-hub li {
    margin: inherit;
  }
}
