.link-hub {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-hub li {
  margin: 0;
}

.link-hub em {
  font-style: normal;
  color: $grey-1;
}

.link-hub a {
  border-bottom: 1px dotted $grey-14;
  text-decoration: none;
  color: $grey-7;

  &:hover {
    border-color: $cyan-4;
    color: $cyan-4;

    em {
      color: $cyan-4;
  }
}
}

.link-hub strong {
  font-weight: normal;
}

@media #{$bravo} {
  .link-hub li {
    margin: inherit;
  }
}

