section {
  padding: .75em 0 1.25em;
}

@media #{$charlie} {
  $gutter: 4%;
  $safari-fix: .09%;
  $column-width: (100% - $gutter) / 2;

  .sections {
    display: flex;
    flex-flow: row wrap;
  }

  section {
    flex: 0 0 $column-width;
    width: $column-width;

    &:nth-child(2n+1) {
      margin-right: $gutter - $safari-fix;
    }
  }
}
