.showcase {
  list-style-type: none;
  padding: 0;
}
.showcase li {
  margin: 1.5em 0;
}
.showcase p {
  margin: 0;
}
.showcase p:last-child {
  color: $grey-9;
}
.showcase small {
  display: block;
}
