.two-columns > * {
  display: table;
  break-inside: avoid;
}

.emulate-list {
  padding-left: 0;
}

.emulate-list > li {
  &::before {
    margin: 0 .4em 0 0;
    content: '\25cf';
    vertical-align: calc(.055em);
  }
}

.emulate-list li ul,
.emulate-list li ol {
  padding-left: 2em;
}

@media #{$alpha} {
  .two-columns {
    column-count: 2;
    column-gap: 2.75em;
  }
}

