.vessel {
  padding: 0 1em;
  margin: 0 auto;
  position: relative;
  transition: 500ms ease-in-out padding;
}
.vessel:before,
.vessel:after {
  content: '';
  display: table;
}
.vessel:after {
  clear: both;
}

@media #{$alpha} {
  .vessel {
    padding: 0 6% 0 5%;
  }
}
@media #{$charlie} {
  .vessel {
    padding: 0 10%;
  }
}
@media #{$delta} {
  .vessel {
    padding: 0 4%;
  }
}
