.vessel {
  padding: 0 1em;
  margin: 0 auto;
  position: relative;
  transition: 500ms ease-in-out padding;
}
.vessel:before,
.vessel:after {
  content: '';
  display: table;
}
.vessel:after {
  clear: both;
}
